<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eis.smslibrary">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application>
        <receiver
            android:name=".SMSReceivedBroadcastReceiver"
            android:enabled="true"
            android:exported="true"

            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter
                android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
